@import url("../fonts/Co-font/stylesheet.css");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  font-family: "Co Headline Corp";
  list-style-type: none;
}

html,
body {
  height: 100%;
  overflow-x: hidden;
}

body.over {
  overflow: hidden;
}

body::-webkit-scrollbar {
  width: 10px;
  /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: #ffc700;
  /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.753);
  /* color of the scroll thumb */
}

a {
  text-decoration: none;
}

.right-pagination {
  bottom: 50% !important;
  left: 47% !important;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.cpc-link a {
  font-family: "Co Headline Corp";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: -0.02em;
  color: #ff8e02;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  -ms-flex-positive: 0;
      flex-grow: 0;
  position: relative;
}

.cpc-link a::after {
  content: "";
  position: absolute;
  width: 56.5px;
  height: 1px;
  background-color: #000;
  top: 50%;
  right: 102%;
}

.swiper-pagination-bullet {
  width: 1rem;
  height: 1rem;
  background-color: #ff8e02 !important;
}

.cpc-title {
  position: relative;
}

.cpc-title .cpc-after {
  font-family: "Co Headline Corp";
  font-style: normal;
  font-weight: 700;
  font-size: 31.25px;
  line-height: 37px;
  letter-spacing: -0.02em;
  color: #ff8e02;
  position: absolute;
  bottom: 13px;
  text-transform: uppercase;
  left: 98px;
}

.cpc-title .cpc-before {
  text-transform: uppercase;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 800;
  font-size: 78.3333px;
  line-height: 95px;
  color: rgba(246, 198, 77, 0.2);
}

.all-content-head {
  font-style: normal;
  font-weight: 700;
  font-size: 39.06px;
  line-height: 46px;
  letter-spacing: -0.02em;
  color: #727272;
}

.main-slide {
  position: relative;
  height: 100%;
}

.main-slide .main-img {
  width: 100%;
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
}

.left-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 75px;
  height: 100%;
  background-color: #ffc700;
  -webkit-transition: all ease 1s;
  transition: all ease 1s;
  z-index: 999;
}

.left-nav.active {
  left: 95%;
}

.left-nav.active .logo {
  display: none;
}

.left-nav.active .lang {
  display: none;
}

.left-nav.active .left-nav-btn::after {
  top: 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.left-nav.active .left-nav-btn::before {
  top: 0;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.left-nav.active .left-nav-btn span {
  display: none;
}

.left-nav .logo {
  width: 50px;
  height: 50px;
}

.left-nav .left-nav-btn {
  position: relative;
  width: 50px;
  height: 80px;
  cursor: pointer;
}

.left-nav .left-nav-btn::after {
  position: absolute;
  content: "";
  width: 30px;
  height: 1px;
  border: 1px solid #000;
  border-radius: 5px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  top: 15px;
  left: 10px;
}

.left-nav .left-nav-btn::before {
  position: absolute;
  content: "";
  width: 30px;
  height: 1px;
  border: 1px solid #000;
  border-radius: 5px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  top: 8px;
}

.left-nav .left-nav-btn span {
  display: block;
  color: #000;
}

.left-nav .left-nav-btn span:first-child {
  width: 30px;
  height: 2px;
  background: #000;
}

.left-nav .left-nav-btn span.btn-content {
  font-weight: 400;
  font-size: 22px;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.left-nav .lang {
  color: #000;
  font-weight: 400;
  font-size: 22px;
  line-height: 27px;
  letter-spacing: -0.02em;
}

.left-nav .lang .nav__callback {
  overflow: hidden;
  width: 100%;
  height: 75px;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  border: none;
  background-color: transparent;
}

.left-nav .lang .nav__callback.lang {
  border-left: 2px solid #000;
}

.overlay-menu-box {
  position: fixed;
  width: 100%;
  height: 100vh;
  background: rgba(255, 255, 255, 0.9);
  left: 0;
  top: 0;
  -webkit-transition: all 1s;
  transition: all 1s;
  -webkit-transform: translate(100%);
          transform: translate(100%);
  z-index: 99;
}

.overlay-menu-box.opened {
  -webkit-transform: translate(0);
          transform: translate(0);
}

.overlay-menu-box .overlay-menu {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.overlay-menu-box .overlay-menu a {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-size: 35px;
  line-height: 60px;
  letter-spacing: -0.02em;
  color: #000;
  -webkit-transition: ease all 0.3s;
  transition: ease all 0.3s;
}

.overlay-menu-box .overlay-menu a:hover {
  color: #ffbe00;
}

.overlay-menu-box .bottom-menu {
  gap: 12rem;
  margin: 1rem 0;
}

.overlay-menu-box .bottom-menu .social-links {
  gap: 0 1rem;
}

.overlay-menu-box .bottom-menu a {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.004em;
  color: #000;
}

.mobile-nav {
  position: fixed;
  width: 100%;
  height: 80px;
  background: #000;
  top: 0;
  left: 0;
  padding: 0 1rem;
  z-index: 99999;
}

.mobile-nav .logo {
  width: 100%;
  height: 60px;
}

.mobile-nav .mobile-nav-btn {
  position: relative;
  width: 40px;
  height: 40px;
  background: transparent;
  border: none;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.mobile-nav .mobile-nav-btn::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  top: 10px;
  left: 0;
  background: #fff;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.mobile-nav .mobile-nav-btn::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 8px;
  left: 0;
  background: #fff;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.mobile-nav .mobile-nav-btn span {
  display: block;
  position: absolute;
  width: 40px;
  height: 2px;
  background: #fff;
  left: 0;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.mobile-nav .mobile-nav-btn.active::after {
  bottom: 10px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.mobile-nav .mobile-nav-btn.active::before {
  top: 10px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.mobile-nav .mobile-nav-btn.active span {
  opacity: 0;
}

.all-pages {
  width: 100%;
}

.all-pages .next-btn {
  width: 154px;
  height: 154px;
  background: #f6c64d;
  border-radius: 0px 112px;
  -webkit-transform: rotate(-10.06deg);
          transform: rotate(-10.06deg);
  top: 34rem;
  right: 2rem;
}

.all-pages .about {
  background-image: url(../img/production);
}

.all-pages .about .about-content {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: -0.02em;
  color: #616161;
}

.all-pages .our-team .team-card {
  border: none;
}

.all-pages .our-team .team-card .team-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.all-pages .our-team .team-card .card-body span {
  display: block;
  text-align: center;
}

.all-pages .our-team .team-card .card-body span.team-name {
  font-style: normal;
  font-weight: 700;
  font-size: 31.25px;
  line-height: 37px;
  letter-spacing: -0.02em;
  color: #000;
}

.all-pages .our-team .team-card .card-body span.team-job {
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 31px;
  color: #ff8e02;
}

.all-pages .news .news-card {
  width: 20rem;
  border: none;
}

.all-pages .news .news-card .news-img img {
  width: 20rem;
}

.all-pages .news .news-card span {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100px;
  height: 20px;
  border-radius: 10px;
}

.all-pages .news .news-card span.tips {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: -0.02em;
  color: #000;
  background: #fee9b0;
}

.all-pages .news .news-card span.news-date {
  background: #727272;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: -0.02em;
  color: #ffffff;
}

.all-pages .news .news-card .news-content {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: -0.02em;
}

.all-pages .news .right-news .news-card {
  width: 54rem;
}

.all-pages .certificate-card {
  border: none;
}

.all-pages .certificate-card .certificate-info {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: -0.02em;
  color: #616161;
}

.all-pages .certificate-card .card-img-top img {
  width: 20rem;
}

.all-pages .import {
  width: 100%;
  background: url(../img/import/map.jpg);
  background-size: contain;
}

.all-pages .import .import-head {
  position: relative;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 49px;
  color: #616161;
  padding: 0 1rem;
}

.all-pages .import .import-head::before {
  position: absolute;
  content: "";
  width: 20px;
  height: 100%;
  background: #f6c64d;
  border-radius: 20px;
  right: 100%;
}

.all-pages .import .import-body .import-cycle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
}

.all-pages .import .import-body .import-cycle.import-cycle1 {
  width: 37vw;
  height: 37vw;
  border: 1px solid #000;
}

.all-pages .import .import-body .import-cycle.import-cycle2 {
  width: 25vw;
  height: 25vw;
  background: #f5c74c;
}

.all-pages .import .import-body .import-cycle.import-cycle3 {
  width: 19vw;
  height: 19vw;
  border: 1px solid #000;
}

.all-pages .import .import-body .import-cycle.import-cycle3 h2 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 5vw;
  text-align: center;
}

.all-pages .setem .setem-content p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: -0.02em;
  color: #616161;
}

.all-pages .setem .setem-img img {
  width: 100% !important;
}

.all-pages .e-catalog .cpc-link {
  float: right;
}

.all-pages .e-catalog img {
  width: 100%;
}

.all-pages .e-catalog .product-name-box span {
  font-weight: 700;
  font-size: 31.25px;
  line-height: 37px;
  letter-spacing: -0.02em;
  color: #ff8e02;
}

.all-pages .e-catalog .product-name-box span:first-child {
  font-size: 48.83px;
  opacity: 0.5;
}

.production-box h3 {
  font-style: normal;
  font-weight: 700;
  font-size: 39.06px;
  letter-spacing: -0.02em;
}

.production-box .production-content {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: -0.02em;
  color: #616161;
}

.production-box img {
  width: 100%;
}

.products-box .product-swiper img {
  width: 90%;
  height: 300px;
}

.products-box .product-swiper .product-head {
  margin-top: 10px;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  letter-spacing: -0.02em;
  color: #000;
}

.products-box .products-title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  color: #000;
}

.products-box .products-content {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
}

.products-box .why-us {
  background-color: #f6c64d;
  padding: 8rem 0;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url(../img/why/background.svg);
}

.products-box .why-us .container .img-cycle img {
  border: 50px solid #f3dd97;
  width: 500px;
  height: 500px;
  border-radius: 100%;
}

.products-box .packaging {
  padding: 6rem 0;
  background-color: #f6c64d;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 100% 0%;
  background-image: url(../img/why/background1.jpg);
}

.products-box .packaging .img-cycle img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 450px;
}

.products-box .packaging .product-packaging-content {
  margin-left: 2rem;
}

.products-box .preferences {
  position: relative;
}

.products-box .preferences .preferences-content-box {
  width: 50%;
}

.products-box .preferences .preferences-content-box .preferences-title h4 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  color: #616161;
}

.products-box .preferences .preferences-content-box .preferences-content {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #616161;
}

.products-box .preferences .preferences-content-box .activities {
  position: absolute;
  width: 35rem;
  top: 30%;
  left: 50%;
  background: #ffeab5;
  padding: 0 1rem;
  border-radius: 10px;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url(../img/why/activates.png);
}

.products-box .preferences .preferences-content-box .activities .activities-head {
  position: relative;
}

.products-box .preferences .preferences-content-box .activities .activities-head span {
  font-family: "Montserrat";
  padding: 0 10px;
  font-size: 30px;
  font-weight: 600;
  color: #616161;
}

.products-box .preferences .preferences-content-box .activities .activities-head::after {
  position: absolute;
  content: "";
  right: 100%;
  top: 0;
  width: 10px;
  height: 100%;
  background: #f6c64d;
  border-radius: 10px;
}

.products-box .preferences .preferences-content-box .activities .activities-content p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 24px;
  color: #616161;
}

.products-box .preferences .preferences-img {
  width: 40%;
}

.contact-swiper .contact-head {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  color: #616161;
}

.contact-swiper .contact-content {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #616161;
}

.contact-swiper .map-box {
  width: 100%;
}

.contact-swiper .map-box iframe {
  width: 100%;
  height: calc(100vh - 13.54rem);
}

.contact-swiper .vacancy .row .vacancy-card {
  border: none;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.contact-swiper .vacancy .row .vacancy-card .card-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact-swiper .vacancy .row .vacancy-card .card-body .vacancy-title {
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  letter-spacing: -0.02em;
  color: #000;
}

.contact-swiper .vacancy .row .vacancy-card .card-body .vacancy-lctn {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: -0.02em;
  color: rgba(0, 0, 0, 0.25);
}

.contact-swiper .vacancy .row .vacancy-card .card-body .vacancy-date {
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: -0.02em;
  color: rgba(0, 0, 0, 0.25);
}

.contact-swiper .vacancy .row .vacancy-card .card-body .apply {
  color: #fff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.contact-swiper .vacancy .row .vacancy-card:hover {
  background: #ff8e02;
}

.contact-swiper .vacancy .row .vacancy-card:hover .vacancy-title,
.contact-swiper .vacancy .row .vacancy-card:hover .vacancy-lctn,
.contact-swiper .vacancy .row .vacancy-card:hover .vacancy-date {
  color: #fff;
}

@media screen and (max-width: 768px) {
  .right-pagination {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    bottom: 0 !important;
    left: 0 !important;
  }
  .cpc-title .cpc-after {
    left: 74px;
    bottom: 0;
  }
  .overlay-menu-box .overlay-menu {
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
  }
  .overlay-menu-box .overlay-menu li a {
    font-size: 30px !important;
  }
  .overlay-menu-box .bottom-menu {
    gap: 0 1rem !important;
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .all-content-head {
    font-size: 30px;
  }
  .all-pages .about img {
    width: 100%;
  }
  .all-pages .news .news-card {
    width: 21rem !important;
  }
  .all-pages .news .news .left-news,
  .all-pages .news .news .right-news {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .all-pages .certificate-cols {
    width: 22rem;
  }
  .all-pages .certificate-cols .certificate-card img {
    width: 19rem !important;
  }
  .preferences .preferences-content-box {
    width: 100% !important;
  }
  .preferences .preferences-img {
    width: 100% !important;
  }
}

@media (min-width: 769px) and (max-width: 991px) {
  .overlay-menu-box .overlay-menu {
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
  }
  .overlay-menu-box .bottom-menu {
    gap: 8rem !important;
  }
  .all-pages .about .about-img img {
    width: 100%;
  }
  .all-pages .news .left-news .news-card {
    width: 47rem;
  }
  .all-pages .news .left-news .news-card .news-head {
    font-size: 27px;
  }
  .all-pages .news .right-news .news-card {
    width: 47rem;
  }
  .all-pages .news .right-news .news-card .news-head {
    font-size: 27px;
  }
  .preferences .preferences-content-box {
    width: 100% !important;
  }
  .preferences .preferences-img {
    width: 100% !important;
  }
}

@media (min-width: 992px) {
  .all-pages .about .about-img img {
    -webkit-transform: translateY(35%);
            transform: translateY(35%);
  }
  .products-header {
    padding-top: 4rem;
  }
}

.home-bg {
  position: relative;
}

.home-bg #myVideo {
  min-width: 100%;
  min-height: 90%;
}

.home-bg .myImg {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.home-bg .home-bg-content {
  position: absolute;
  bottom: 30%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.home-bg .home-bg-content h2 {
  font-family: "Co Headline Corp";
  font-style: normal;
  font-weight: 700;
  font-size: 130px;
  text-align: center;
  color: #fff;
}
/*# sourceMappingURL=style.css.map */